input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
}

/* Custom checkbox styles */
.custom-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.checkmark {
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  transition: border-color 0.3s, background-color 0.3s;
}

/* Style for the checked state */
input[type="checkbox"]:checked + .checkmark {
  border-color: #4caf50; /* Change border color when checked */
  background-color: #4caf50; /* Change background color when checked */
}

/* Visually hide the default checkbox */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Adjust the text style */
.custom-checkbox span {
  font-size: 14px;
  color: #333;
}

/* Hover effect for the checkbox container */
.custom-checkbox:hover .checkmark {
  border-color: #666;
}

.create-event-step-two {
  .mb-12px {
    margin-bottom: 12px;
  }
}
