<div class="forgot-password-email-verification">
  <div class="mt-24px mb-24px">
    <span class="email-image-wrapper">
      <img src="assets/images/svgs/email.svg" />
    </span>
  </div>
  @if (!isEmailSend) {
  <h1 class="">Where should we send your login link?</h1>
  <p class="">For your security, the link expires in 15 minutes.</p>
  <div class="input-button-wrapper" [ngClass]="{ 'is-error': isEmailInvalid }">
    @if (isEmailInvalid) {
    <div class="error-box d-flex mb-24px">
      <div class="center mr-16px">
        <img src="assets/images/svgs/power.svg" />
      </div>
      <div>
        <div>There is no account associated with the email.</div>
        <div>
          <span class="text-blue pointer" (click)="onCreateAccount()"
            >Create Account</span
          >
        </div>
      </div>
    </div>
    }

    <div class="form-group eve-input-box">
      <label for="name">Email Address </label>
      <input
        type="email"
        name="email"
        class="form-control"
        [(ngModel)]="email"
        required
      />
      @if (isEmailInvalid) {
      <div class="is-invalid fs-12 mt-1">
        Please enter a valid email address.
      </div>
      }
    </div>
    <div class="forgot-password-footer-wrapper">
      <button
        class="eve-btn even-btn-login-outline fw-bold"
        (click)="backToLogin()"
      >
        Back to Login
      </button>
      <button class="eve-btn eve-btn-login fw-bold" (click)="onSendLink()">
        Send Login Link
      </button>
    </div>
  </div>
  } @else {

  <h1 class="">Check your email to login</h1>
  <p class="mb-16px conditions text-center">
    We sent your login link to <strong>{{ "bcozzi09@gmail" }}.com </strong>
  </p>
  <div class="fs-16 text-center fw-500 conditions">
    For your security, the link expires in 15 minutes.
  </div>

  <div class="mt-24px center">
    <button
      class="eve-btn eve-btn-login fw-bold w-user-email-btn"
      (click)="goToSetPassword()"
    >
      Take me to my email
    </button>
  </div>
  <div class="center mt-16px">
    <button
      class="eve-btn even-btn-login-outline fw-bold w-100"
      (click)="backToLogin()"
    >
      Back to Login
    </button>
  </div>
  }
</div>
