.forgot-password-email-verification {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 0 16px;
  h1 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 500;
    text-align: center;
    max-width: 400px;
    color: #000000 !important;
  }
  .fp-default-view {
    max-width: 400px;
    width: 100%;
    .fpr-mode {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .image-wrapper {
        width: 144px;
        height: 144px;
        background-color: #eeedf2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        border: 2px solid #eeedf2;

        cursor: pointer;
        &:hover {
          background-color: white;
          border-color: white;
          box-shadow: 0px 0px 13px 3px #eeedf2;
        }
        &.is-selected {
          border-color: #77c157;
          box-shadow: 0px 0px 13px 3px #eeedf2;
          background-color: white;
        }
        img {
          width: 60px;
          &.phone-svg {
            width: 40px;
          }
        }
      }
    }
    .fpd-footer {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-top: 48px;
      min-width: 417px;
      button {
        min-width: 175px;
      }
    }
  }
  .w-user-email-btn {
    width: 300px;
  }
  .mt-40px {
    margin-top: 40px;
  }
  .even-btn-login-outline {
    border-width: 2px !important;
  }
  .dialog-btn {
    height: 45px;
    min-width: 100px !important;
  }
  .mt-48px {
    margin-top: 48px;
  }
  .email-image-wrapper {
    background-color: #eeedf2 !important;
    padding: 28px 20px;
    border-radius: 50%;
  }
  .input-button-wrapper {
    max-width: 450px;
    width: 100%;
    .error-box {
      border-radius: 8px;
      padding: 12px;
      border-left: 4px solid var(--eve-red-color);
      font-size: 12px;
      box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.15);
      .text-blue {
        color: #2086ff;
      }
    }
    &.is-error {
      label {
        color: var(--eve-red-color) !important;
        font-weight: 600;
      }
      .form-control {
        border-color: var(--eve-red-color);
        border-width: 2px;
      }
      .is-invalid {
        color: var(--eve-red-color);
        font-weight: 600;
      }
    }

    .forgot-password-footer-wrapper {
      max-width: 600px;
      display: flex;
      flex-direction: row;
      gap: 32px;
      width: 100%;
      justify-content: center;
      button {
        flex-grow: 1;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 650px) {
    width: calc(100vw - 85px);

    .fp-default-view {
      .fpr-mode {
        .image-wrapper {
          width: 100px;
          height: 100px;
          img {
            width: 40px;
            &.phone-svg {
              width: 25px;
            }
          }
        }
      }
      .fpd-footer {
        display: flex;
        flex-direction: column-reverse;
        min-width: 100%;
        gap: 16px;
        button {
          width: 100%;
        }
      }
    }

    .w-user-email-btn {
      width: 100%;
    }
    .conditions {
      font-size: 13px !important;
      margin-top: 0px !important;
    }
    .input-button-wrapper {
      .forgot-password-footer-wrapper {
        gap: 16px;
        flex-direction: column;
        button {
          &.even-btn-login-outline {
            order: 2;
          }
        }
      }
    }
  }
}
