<div
  class="forgot-password-phone-verification flex flex-column align-items-center"
>
  <div class="mt-24px mb-24px">
    <span class="phone-image-wrapper">
      <img src="assets/images/svgs/phone.svg" />
    </span>
  </div>
  @switch (stepNumber) { @case (1) {

  <h1>Where should we send your login code?</h1>
  <p class="max-width-400px">
    We’ll text you a one-time verification code to confirm your phone number.
  </p>
  <div
    class="input-button-wrapper"
    [ngClass]="{ 'is-error': isPhoneNumberInvalid }"
  >
    @if (isPhoneNumberInvalid) {
    <div class="error-box d-flex mb-24px">
      <div class="center mr-16px">
        <img src="assets/images/svgs/power.svg" />
      </div>
      <div>
        <div>There is no account associated with the phone number.</div>
        <div>
          <span class="text-blue pointer" (click)="createAccount()"
            >Create Account</span
          >
        </div>
      </div>
    </div>

    }

    <div class="form-group eve-input-box label-in">
      <label for="name">Mobile Phone Number</label>
      <input
        type="text"
        name="phoneNumber"
        class="form-control"
        appPhoneFormat
        [(ngModel)]="phoneNumber"
      />
      @if (isPhoneNumberInvalid) {
      <div class="is-invalid fs-12 mt-1">
        Please enter a valid phone number.
      </div>
      }@else {
      <div class="input-hint">
        By providing my phone number, I agree to receive text messages from
        Eventlify. Standard message and data rates may apply.
      </div>
      }
      <div class="forgot-password-footer-wrapper">
        <button
          class="eve-btn even-btn-login-outline fw-bold"
          (click)="backToLogin()"
        >
          Back to Login
        </button>
        <button class="eve-btn eve-btn-login fw-bold" (click)="sendCode()">
          Send Login Code
        </button>
      </div>
    </div>
  </div>

  } @case (2) {
  <h1>Enter Your Code</h1>
  <p class="max-width-500px">
    Enter the 6-digit code we sent to your phone, or go back to the previous
    screen to update your number.
  </p>
  <div class="input-button-wrapper">
    <div class="form-group eve-input-box label-in">
      <!-- <p-inputMask
        mask="(999) 999-9999"
        [(ngModel)]="phoneNumber"
        class="form-control"
        placeholder="(999) 999-9999"
      ></p-inputMask> -->
      <div class="code-verification-wrapper">
        <input
          type="text"
          class="form-control"
          appFocusInput="codeInput2"
          id="codeInput1"
          maxlength="1"
        />
        <input
          type="text"
          class="form-control"
          appFocusInput="codeInput3"
          id="codeInput2"
          maxlength="1"
        />
        <input
          type="text"
          class="form-control"
          appFocusInput="codeInput4"
          id="codeInput3"
          maxlength="1"
        />
        <input
          class="form-control"
          type="text"
          appFocusInput="codeInput5"
          id="codeInput4"
          maxlength="1"
        />
        <input
          type="text"
          class="form-control"
          appFocusInput="codeInput6"
          id="codeInput5"
          maxlength="1"
        />
        <input type="text" maxlength="1" class="form-control" id="codeInput6" />
      </div>

      <div class="input-hint fs-14 text-dark fw-600 mt-16px">
        For your security, the code expires in 15 minutes.
      </div>
      <div class="input-hint text-blue fw-600 pointer">
        Update My Phone Number
      </div>
      <div class="forgot-password-footer-wrapper">
        <button
          class="eve-btn even-btn-login-outline fw-bold"
          (click)="backToLogin()"
        >
          Resend Code
        </button>
        <button class="eve-btn eve-btn-login fw-bold" (click)="submitCode()">
          Verify Code
        </button>
      </div>
    </div>
  </div>

  }}
</div>
