.forgot-password-phone-verification {
  // padding: 0 16px;
  .w-user-email-btn {
    width: 300px;
  }
  .mt-40px {
    margin-top: 40px;
  }
  .even-btn-login-outline {
    border-width: 2px !important;
  }
  .dialog-btn {
    height: 45px;
    min-width: 100px !important;
  }
  .mt-48px {
    margin-top: 48px;
  }
  .max-width-400px {
    max-width: 400px;
  }
  .max-width-500px {
    max-width: 500px;
  }
  .phone-image-wrapper {
    background-color: #eeedf2 !important;
    padding: 28px;
    border-radius: 50%;
    img {
      width: 20px;
    }
  }

  .code-verification-wrapper {
    display: flex;
    justify-content: center;
    gap: 28px;
    flex-wrap: wrap;
    .form-control {
      padding: 12px;
      width: 50px;
      text-align: center;
      font-size: 24px !important;
    }
  }
  h1 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 500;
    text-align: center;
  }
  .text-blue {
    color: #2086ff;
  }
  .input-button-wrapper {
    max-width: 450px;
    width: 100%;
    .error-box {
      border-radius: 8px;
      padding: 12px;
      border-left: 4px solid var(--eve-red-color);
      font-size: 12px;
      box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.15);
      .text-blue {
        color: #2086ff;
      }
    }
    &.is-error {
      label {
        color: var(--eve-red-color) !important;
        font-weight: 600;
      }
      .form-control {
        border-color: var(--eve-red-color);
        border-width: 2px;
      }
      .is-invalid {
        color: var(--eve-red-color);
        font-weight: 600;
      }
    }

    .forgot-password-footer-wrapper {
      max-width: 600px;
      display: flex;
      flex-direction: row;
      gap: 32px;
      width: 100%;
      justify-content: center;
      margin-top: 40px;
      button {
        flex-grow: 1;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 650px) {
    width: calc(100vw - 85px);

    .w-user-email-btn {
      width: 100%;
    }
    .conditions {
      font-size: 13px !important;
      margin-top: 0px !important;
    }
    .input-button-wrapper {
      .forgot-password-footer-wrapper {
        gap: 16px;
        flex-direction: column;
        button {
          &.even-btn-login-outline {
            order: 2;
          }
        }
      }
    }
  }
}
