.create-new-event {
  width: 800px;
  .event-steppers {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 100px;
    .event-stepper {
      height: 4px;
      background-color: rgb(236, 236, 236);
      width: 200px;
      border-radius: 25px;
      &.is-stepper-completed {
        background-color: var(--eve-green-color);
      }
    }
  }
  form {
    margin-top: 48px;
  }
}
