<div class="create-new-event mb-24px">
  <div class="create-new-event-header center">
    <div class=""><img src="assets/images/svgs/eve-full-logo-light.png" /></div>
  </div>
  <div
    class="create-new-event-content container"
    [ngClass]="{ center: isGetStarted }"
  >
    @if (isGetStarted) {
    <div class="eve-get-started">
      <div>
        <div class="img-wrapper shadow">
          <img src="assets/images/svgs/eve-logo-mini.svg" alt="" />
        </div>
        <h2>Welcome to Eventlify</h2>
        <p>Post, promote and manage your event with ease</p>
        <div class="mt-72px center">
          <button class="eve-btn eve-btn-primary" (click)="onGetStarted()">
            Get started
          </button>
        </div>
      </div>
    </div>
    }@else {
    <div class="center mt-120px">
      <app-create-event-steps></app-create-event-steps>
    </div>
    }
  </div>
</div>
