.create-new-account-step-two {
  overflow: hidden;
  .login-form-wrapper {
    flex-basis: 50%;
    flex-grow: 1;
    height: calc(100vh) !important;
    overflow: scroll;
    .login-h1 {
      font-size: 36px;
      color: #1e0a3b;
      font-weight: 800;
      margin: 24px 0;
    }
    .login-form {
      padding: 40px 0;
      width: 450px;
    }
  }
  .login-image-wrapper {
    flex-basis: 50%;
    flex-grow: 1;

    // background-image: url("/assets/images/svgs/login-img.png");
    img {
      min-height: 100vh;
      width: 100%;
    }
  }

  .mt-40px {
    margin-top: 40px;
  }
  hr {
    // border-width: 1px !important;
    // border-color: #f2f2f2;

    border: 2px solid #cbcbcb !important;
    margin-right: 16px;
    margin-top: 0px;
    margin-bottom: 8px;
  }
  .dialog-btn {
    height: 45px;
    min-width: 100px !important;
  }
  .mt-48px {
    margin-top: 48px;
  }
  .exclamation-wrapper {
    background-color: #eeedf2 !important;
    padding: 24px 28px;
    border-radius: 50%;
  }
}
