<div class="registration-form-package-cart">
  <div class="rfps-cart-btn">
    <img src="assets/images/svgs/package-cart.svg" width="70px" />
  </div>
  <div class="cart-header">
    <div><h2 class="fw-bold mb-0">Your Cart</h2></div>
    <div class="center">
      <i class="pi pi-times fs-18" (click)="OnClose.emit()"></i>
    </div>
  </div>
  @if(cartItems.length){
  <div class="cart-items">
    @for (item of cartItems; track $index){
    <div class="cart-item">
      <div class="item-details">
        <div class="item-details-wrapper">
          <div class="name">{{ item.name }} Sponsor</div>
          <div class="tickets">
            <img src="assets/images/svgs/ticket.svg" width="20px" />
            {{ item.numberOfTickets }} tickets in package
          </div>
        </div>
        <div class="delete-btn">
          <img
            src="assets/images/svgs/cart-delete.svg"
            width="35px"
            class="pointer"
          />
        </div>
      </div>
      <div class="item-control">
        <div class="select-qty">
          <div class="qty-control-wrapper">
            <div class="center qty-control">
              <i class="pi pi-minus mr-0"></i>
            </div>
            <div class="fw-600">12</div>
            <div class="center qty-control">
              <i class="pi pi-plus mr-0"></i>
            </div>
          </div>
        </div>
        <div class="price">
          {{ item.price | currency : "USD" : "symbol" : "1.0-0" }}
        </div>
      </div>
    </div>
    }
    <div class="justify-content-between d-flex cart-sub-total">
      <div class="fs-18 fw-500">Subtotal</div>
      <div class="fs-24px fw-600 text-dark">
        {{ 90000 | currency : "USD" : "symbol" : "1.0-0" }}
      </div>
    </div>
    <div class="" style="margin: 0px 6px">
      <div class="fs-14 fw-600">
        Your contribution can be credited to a team’s fundraising campaign, or
        you can continue to the payment page.
      </div>
      <div class="mt-32px">
        <div class="form-group eve-p-autocomplete eve-p-autocomplete-left-icon">
          <label class="fs-12"
            >Who should receive credit for your contribution?</label
          >
          <div class="flex w-100">
            <div class="w-100">
              <div class="icon-wrapper">
                <i class="pi pi-search"></i>
              </div>

              <!-- <label for="name" class="required">First Name</label> -->
              <p-autoComplete
                name="fundraiser"
                placeholder="Search Fundraisers"
                [(ngModel)]="selectedUser"
                [suggestions]="filteredUsers"
                [delay]="0"
                [showEmptyMessage]="true"
                [focusOnHover]="true"
                [showClear]="true"
                [autoHighlight]="true"
                optionValue="firstName"
                optionLabel="firstName"
                class="eve-p-autocomplete"
                (completeMethod)="search($event)"
                ><ng-template let-user pTemplate="item">
                  <div class="flex">
                    <div class="d-flex flex-column">
                      <div class="fs-18 fw-500">
                        {{ user.firstName }} {{ user.maidenName }}
                        {{ user.lastName }}
                      </div>
                    </div>
                  </div>
                </ng-template></p-autoComplete
              >
            </div>
          </div>
          <!-- <input type="email" name="email" class="form-control" required /> -->
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24px">
    <button class="eve-btn eve-btn-login w-100">Checkout</button>
  </div>
  }@else{
  <div class="empty center">
    <div class="">
      <div class="center">
        <img src="assets/images/svgs/no-package.svg" width="100px" />
      </div>
      <div class="fw-600 mt-16px">No Packages Added</div>
    </div>
  </div>
  }
</div>
