.forgot-password {
  width: 600px;
  padding: 0 16px;
  .mt-40px {
    margin-top: 40px;
  }
  .even-btn-login-outline {
    border-width: 2px !important;
  }
  .dialog-btn {
    height: 45px;
    min-width: 100px !important;
  }
  .mt-48px {
    margin-top: 48px;
  }
  .email-image-wrapper {
    background-color: #eeedf2 !important;
    padding: 28px 20px;
    border-radius: 50%;
  }
  .input-button-wrapper {
    max-width: 450px;
    width: 100%;
    .error-box {
      border-radius: 8px;
      padding: 12px;
      border-left: 4px solid #d70000;
      font-size: 12px;
      box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.15);
      .text-blue {
        color: #2086ff;
      }
    }
    &.is-error {
      label {
        color: #d70000;
        font-weight: 600;
      }
      .form-control {
        border-color: #d70000;
        border-width: 2px;
      }
      .is-invalid {
        color: #d70000;
        font-weight: 600;
      }
    }

    .forgot-password-footer-wrapper {
      max-width: 600px;
      display: flex;
      flex-direction: row;
      gap: 32px;
      width: 100%;
      justify-content: center;
      button {
        flex-grow: 1;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 650px) {
    width: calc(100vw - 85px);
    .conditions {
      font-size: 13px !important;
      margin-top: 0px !important;
    }
    .input-button-wrapper {
      .forgot-password-footer-wrapper {
        gap: 16px;
        flex-direction: column;
        button {
          &.even-btn-login-outline {
            order: 2;
          }
        }
      }
    }
  }
}
