<div class="forgot-password flex flex-column align-items-center mt-8px">
  <!-- <span class="eve-clickable" (click)="isEmailSend = true">Switch UI</span> -->
  @switch (selectedValidationMethod) { @case ('DEFAULT') {
  <div class="fp-default-view">
    <h1 class="fw-bold text-center">
      Please choose how you want to recover your password:
    </h1>
    <div class="d-flex gap-4 justify-content-between mt-32px">
      <div class="fpr-mode">
        <div class="center">
          <div
            class="image-wrapper"
            (click)="selectValidationMode('EMAIL')"
            [ngClass]="{ 'is-selected': selectedValidationMode === 'EMAIL' }"
          >
            <img src="assets/images/svgs/email.svg" />
          </div>
        </div>

        <div class="text-center">By Email</div>
      </div>

      <div class="fpr-mode">
        <div class="center">
          <div
            class="image-wrapper"
            (click)="selectValidationMode('PHONE')"
            [ngClass]="{ 'is-selected': selectedValidationMode === 'PHONE' }"
          >
            <img src="assets/images/svgs/phone.svg" class="phone-svg" />
          </div>
        </div>

        <div class="text-center">By Phone Number</div>
      </div>
    </div>
    <div class="fpd-footer">
      <button
        class="eve-btn even-btn-login-outline fw-bold"
        (click)="onBackToLogin()"
      >
        Back to Login
      </button>
      <button
        class="eve-btn eve-btn-login fw-bold"
        (click)="onValidationModeConfirm()"
        [disabled]="!selectedValidationMode"
      >
        Continue
      </button>
    </div>
  </div>

  } @case ('EMAIL') {
  <div class="mt-24px mb-24px">
    <span class="email-image-wrapper">
      <img src="assets/images/svgs/email.svg" />
    </span>
  </div>
  @if (!isEmailSend) {
  <h1 class="fw-bold mt-32px text-center">
    Where should we send your login link?
  </h1>
  <span class="fs-14 fw-500 mt-16px mb-24px conditions text-center"
    >For your security, the link expires in 15 minutes.</span
  >
  <div class="input-button-wrapper" [ngClass]="{ 'is-error': isEmailInvalid }">
    @if (isEmailInvalid) {
    <div class="error-box d-flex mb-24px">
      <div class="center mr-16px">
        <img src="assets/images/svgs/power.svg" />
      </div>
      <div>
        <div>There is no account associated with the email.</div>
        <div>
          <span class="text-blue pointer" (click)="onCreateAccount()"
            >Create Account</span
          >
        </div>
      </div>
    </div>
    }

    <div class="form-group eve-input-box">
      <label for="name">Email Address </label>
      <input
        type="email"
        name="email"
        class="form-control"
        [(ngModel)]="email"
        required
      />
      @if (isEmailInvalid) {
      <div class="is-invalid fs-12 mt-1">
        Please enter a valid email address.
      </div>
      }
    </div>
    <div class="forgot-password-footer-wrapper">
      <button
        class="eve-btn even-btn-login-outline fw-bold"
        (click)="onBackToLogin()"
      >
        Back to Login
      </button>
      <button class="eve-btn eve-btn-login fw-bold" (click)="onSendLink()">
        Send Login Link
      </button>
    </div>
  </div>
  } @else {

  <h1 class="fw-bold mt-32px text-center">Check your email to login</h1>
  <span class="fs-16 mt-24px fw-500">
    <div class="mb-16px conditions text-center">
      We sent your login link to <strong>{{ "bcozzi09@gmail" }}.com </strong>
    </div>
  </span>
  <div class="fs-16 text-center fw-500 conditions">
    For your security, the link expires in 15 minutes.
  </div>

  <div class="mt-24px center">
    <button
      class="eve-btn eve-btn-login fw-bold w-user-email-btn"
      (click)="goToSetPassword()"
    >
      Take me to my email
    </button>
  </div>
  <div class="center mt-16px">
    <button
      class="eve-btn even-btn-login-outline fw-bold w-100"
      (click)="onBackToLogin()"
    >
      Back to Login
    </button>
  </div>
  } } @case ('PHONE') {
  <div>Case not implemented for phone method.</div>
  <div>
    <span
      class="pointer fw-600"
      (click)="
        selectedValidationMethod = 'DEFAULT'; selectedValidationMode = null
      "
      >Go back</span
    >
  </div>
  }}

  <div class="mt-48px">
    <img src="assets/images/svgs/eve-faded-logo.svg" class="w-100px" />
  </div>
</div>
