<div class="forgot-password flex flex-column align-items-center mt-8px">
  <div class="mt-24px mb-24px">
    <span class="email-image-wrapper">
      <img src="assets/images/svgs/email.svg" />
    </span>
  </div>
  <h1 class="fw-bold mt-32px text-center">
    Where should we send your login link?
  </h1>
  <span class="fs-14 fw-500 mt-16px mb-24px conditions text-center"
    >For your security, the link expires in 15 minutes.</span
  >
  <div class="input-button-wrapper" [ngClass]="{ 'is-error': isInvalid }">
    @if (isInvalid) {
    <div class="error-box d-flex mb-24px">
      <div class="center mr-16px">
        <img src="assets/images/svgs/power.svg" />
      </div>
      <div>
        <div>There is no account associated with the email.</div>
        <div class="text-blue pointer" (click)="onCreateAccount()">
          Create Account
        </div>
      </div>
    </div>
    }

    <div class="form-group eve-input-box">
      <label for="name">Email Address </label>
      <input
        type="email"
        name="email"
        class="form-control"
        [(ngModel)]="email"
        required
      />
      @if (isInvalid) {
      <div class="is-invalid fs-12 mt-1">
        Please enter a valid email address.
      </div>
      }
    </div>
    <div class="forgot-password-footer-wrapper">
      <button
        class="eve-btn even-btn-login-outline fw-bold"
        (click)="onBackToLogin()"
      >
        Back to Login
      </button>
      <button class="eve-btn eve-btn-login fw-bold" (click)="onSendLink()">
        Send Login Link
      </button>
    </div>
  </div>

  <div class="mt-48px">
    <img src="assets/images/svgs/eve-faded-logo.svg" class="w-100px" />
  </div>
</div>
