<div class="forgot-password flex flex-column align-items-center mt-8px">
  <!-- <span class="eve-clickable" (click)="isEmailSend = true">Switch UI</span> -->

  @switch (selectedValidationMethod) { @case ('DEFAULT') {
  <div class="fp-default-view">
    <h1 class="">Please choose how you want to recover your password:</h1>
    <div class="d-flex gap-4 justify-content-between mt-32px">
      <div class="fpr-mode">
        <div class="center">
          <div
            class="image-wrapper"
            (click)="selectValidationMode('EMAIL')"
            [ngClass]="{ 'is-selected': selectedValidationMode === 'EMAIL' }"
          >
            <img src="assets/images/svgs/email.svg" />
          </div>
        </div>

        <div class="text-center">By Email</div>
      </div>

      <div class="fpr-mode">
        <div class="center">
          <div
            class="image-wrapper"
            (click)="selectValidationMode('PHONE')"
            [ngClass]="{ 'is-selected': selectedValidationMode === 'PHONE' }"
          >
            <img src="assets/images/svgs/phone.svg" class="phone-svg" />
          </div>
        </div>

        <div class="text-center">By Phone Number</div>
      </div>
    </div>
    <div class="fpd-footer">
      <button
        class="eve-btn even-btn-login-outline fw-bold"
        (click)="onBackToLogin()"
      >
        Back to Login
      </button>
      <button
        class="eve-btn eve-btn-login fw-bold"
        (click)="onValidationModeConfirm()"
        [disabled]="!selectedValidationMode"
      >
        Continue
      </button>
    </div>
  </div>

  } @case ('EMAIL') {
  <div><app-forgot-password-email-verification /></div>
  } @case ('PHONE') {
  <div><app-forgot-password-phone-verification /></div>
  }}

  <div class="mt-48px">
    <img src="assets/images/svgs/eve-faded-logo.svg" class="w-100px" />
  </div>
</div>
