.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}
.modal-dialog {
  max-width: 90%;
  display: flex;
  justify-content: center;
  .modal-content {
    padding: 24px;
    box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 19%);
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 12px;
    outline: 0;
    border: none !important;
    &.new-modal-content {
      padding: 16px 12px !important;
    }
    .modal-header {
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      color: var(--eve-base-color);
      margin: 0px 0px 24px 0px;
      padding: 0;
      border-bottom: 0 !important;
      display: block;
      .model-close-btn {
        position: absolute;
        right: 14px;
        top: 18px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        cursor: pointer;
        background-color: #f2f2f2;
        border-radius: 50%;
      }
    }
    .modal-body {
      overflow-y: auto;
      max-height: calc(100vh - 253px);
      padding: 0px;
      min-width: 568px !important;
    }
    .modal-footer {
      border-top: 0px;
      flex-wrap: nowrap;
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 8px;
      padding: 8px 0 0 !important;
      button {
        margin: 0;
        width: max-content;
      }
    }
  }
}

modal-container {
  background-color: #4242423b !important;
}

.w-3 {
  width: 300px;
}

.w-7 {
  width: 700px;
}

.w-6 {
  width: 600px;
}
.w-8 {
  width: 800px;
}
.w-5 {
  width: 500px;
}
.w-4 {
  width: 400px;
}
.w-9 {
  width: 900px;
}

.w-10 {
  width: 1000px;
  @media screen and (max-width: 1192px) {
    width: calc(100vw - 145px);
  }
}
.w-11 {
  width: 1100px;
  // width: calc(100vw - 354px);
  @media screen and (max-width: 1192px) {
    width: calc(100vw - 145px);
  }
}
// @media screen and (max-width: 768px) {
//   .w-11 {
//     width: 600px;
//   }
//   .w-8 {
//     width: 800px;
//   }
// }

.w-12 {
  width: 1200px;
}
.w-13 {
  width: calc(100vw - 191px);
}

.modal-dialog {
  // background-color: white;
}

.modal-backdrop {
  background-color: white;
  &.show {
    opacity: 0;
  }
}
