<div class="registration-flow">
  <header
    id="header"
    class="header front"
    data-stellar-ratio="0.5"
    style="transform: translate3d(0px, 0px, 0px)"
  >
    <!-- /.desktop-form -->
    <div class="rfh-wrapper">
      <div class="container">
        <div class="rfh">
          <div class="center">
            <img src="assets/images/svgs/eve-full-logo-light.png" />
          </div>
          <div class="center">
            <h2 class="text-green mb-0">ACCOUNT LOGIN</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="header-caption">
      <div class="container">
        <div class="header-caption-content">
          <div class="rf-heading-wrapper">
            <!-- <h1>
              10th Annual Hall<br />
              of Fame Golf Challenge
            </h1>
            <div class="typing">
              <span class="typed">Saturday, August 24</span
              ><span class="typed-cursor">|</span>
            </div> -->
            <div class="rf-heading">
              <div>Windy City Kicker Golf Classic<br /></div>
              <!-- <div class="typed">FRIDAY MAY 6, 2024</div> -->
              <div><span class="typed" #tw2> </span></div>
            </div>

            <div class="rfh-logo-wrapper">
              <div class="rfh-logo">
                <img src="assets/images/jpg/rfh-logo.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-background desktop">
      <ul class="slides">
        <li class="flex-active-slide">
          <img src="assets/images/jpg/registration-flow-bg.jpg" />
        </li>
      </ul>
    </div>
  </header>

  <div class="container">
    <div class="rf-content">
      <div><app-registration-flow-form></app-registration-flow-form></div>
      <div class="text-credits">
        © 2024 Ace Hardware Foundation. All Rights Reserved.
      </div>
    </div>
  </div>
</div>
