<div class="registration-flow">
  <div class="rfh-wrapper">
    <div class="container">
      <div class="rfh">
        <div class="center">
          <img src="assets/images/svgs/eve-full-logo-light.png" />
        </div>
        <div class="center"><h2 class="text-green mb-0">ACCOUNT LOGIN</h2></div>
      </div>
    </div>
  </div>
  <div class="rf-container">
    <div class="container">
      <div class="rf-heading-wrapper">
        <div class="rf-heading">
          <div>Windy City Kicker Golf Classic<br /></div>
          <div class="typed">FRIDAY MAY 6, 2024</div>
        </div>

        <div class="rfh-logo-wrapper">
          <div class="rfh-logo">
            <img src="assets/images/jpg/rfh-logo.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="rf-content">
        <div><app-registration-flow-form></app-registration-flow-form></div>
        <div class="text-credits">
          © 2024 Ace Hardware Foundation. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
  <div class="registration-flow-bg">
    <img src="assets/images/jpg/registration-flow-bg.jpg" />
  </div>
</div>
